[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mateenmaldar
[access "refs/for/refs/*"]
	read = group user/mateenmaldar
	push = group user/mateenmaldar
	label-Code-Review = -2..+2 group user/mateenmaldar
	label-Verified = -1..+1 group user/mateenmaldar
	rebase = group user/mateenmaldar
	removeReviewer = group user/mateenmaldar
	submit = group user/mateenmaldar
[access "refs/heads/*"]
	read = group user/mateenmaldar
	create = group user/mateenmaldar
	push = +force group user/mateenmaldar
	pushMerge = group user/mateenmaldar
[access "refs/tags/*"]
	push = +force group user/mateenmaldar
	pushTag = group user/mateenmaldar
	pushSignedTag = group user/mateenmaldar
